.saved{
	width: 500px;
}

.saved__result{
	width: 100%;
	height: 101px;
	font-size: 24px;
	line-height: 28px;
	background-color: #E27BEB;
	border: 1px solid #000000;
	margin-left: 77px;
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	box-sizing: border-box;
}

.remove-btn{
	background-image: url(../img/remove.png);
	background-color: transparent;
	width: 45px;
	height: 45px;
	align-self: center;
}